@import url(https://fonts.googleapis.com/css?family=PT+Sans);

$mainBgColor: #f6f6f6;
$textGrayDark: #434343;
$textGrayMid: #B3B3B3;
$textGrayLight: #D5D5D5;
$accentRed: #E74C3C;
$radiusSmall: 3px;
$radiusMid: 4px;

body {
  background-color: $mainBgColor;
  color: $textGrayDark;
  font-family: 'PT Sans', sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.mainAppContainer {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

#mainHeader{
    background: $accentRed;
    text-align: center;
    padding: 4em 0 6em;
}

#pageTarget{
    width: 600px;
    margin: 0 auto;
    top: -50px;
    position: relative;
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 10em;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: $textGrayLight;
    font-size: 1em;
    width: 100vw;
}
